<div class="content-toggle">
  <div class="content-toggle-wrap">
    <% if task.subtasks.length %>
      <ul class="list-group list-group-flush subtasks-list mb-3">
        <% task.subtasks.each do |subtask| %>
          <% if subtask.id && subtask.completed %>
            <li class="list-group-item text-muted">
                <div class="row">
                  <div class="col-1"><%= link_to [@project, task, subtask, :completed => true], method: :put do %><%= svg 'checked' %><% end %></div>
                  <div class="col"><%= link_to [@project, task, subtask, :completed => true], method: :put do %><del><%= subtask.title %></del><% end %></div>
                  <div class="col-3"></div>
                  <div class="col-auto">
                    <div class="col-auto">
                      <%= link_to edit_project_task_subtask_path(@project, task, subtask) do %>
                        <%= svg 'edit' %>
                      <% end %>
                      <%= link_to project_task_subtask_path(@project, task, subtask), method: :delete, data: { confirm: 'Do you really want to delete this task?' }  do %>
                        <%= svg 'delete' %>
                      <% end %>
                    </div>
                  </div>
                </div>
            </li>
          <% elsif subtask.id %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-1"><%= link_to [@project, task, subtask, :completed => true], method: :put do %><%= svg 'unchecked' %><% end %></div>
                <div class="col"><%= link_to [@project, task, subtask, :completed => true], method: :put do %><%= subtask.title %><% end %></div>
                <div class="col-3"></div>
                <div class="col-auto">
                  <div class="col-auto">
                    <%= link_to edit_project_task_subtask_path(@project, task, subtask) do %>
                      <%= svg 'edit' %>
                    <% end %>
                    <%= link_to project_task_subtask_path(@project, task, subtask), method: :delete, data: { confirm: 'Do you really want to delete this task?' }  do %>
                      <%= svg 'delete' %>
                    <% end %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
    <div class="row">
      <div class="col">
        <%= render :partial => 'subtasks/new', :locals => { :project => @project, :task => task, :subtask => task.subtasks.build } %>
      </div>
    </div>
  </div>
</div>
